extends ../layouts/layout.pug

block vars
  - 
    const bundles = [
      { label: 'Starter Bundle Bonus', amount: 'USD 25', width: '0%' },
      { label: 'Fast Start Bonus', amount: 'USD 3,102', width: '10%' },
      { label: 'Unilevel Bonus Total', amount: 'USD 9,934', width: '30%' },
      { label: 'Generation Leadership Bonus', amount: 'USD 3,520', width: '20%' },
      { label: 'Personal Generation', amount: 'USD 2,663', width: '10%' },
      { label: 'Generations', amount: 'USD 7,491', width: '20%' }
    ]

block content
  // The container .my-48 is not needed. This is just for make it nicer to display for working on
  .my-48(x-data="{ showModalEstimateEarnings: false, showModalEarningsSnapshot: false }") 

    section.container
      .content
        .shadow-box
          h2.shadow-box-header Earnings Snapshot
            a(href="#0").decoration-none
              i.fa-regular.fa-circle-question.icon-space-before
          .text-center.mb-12
            h3.text-header--5.mb-4 Current Rank: 
              span.rank 
                | Platinum
            p 
              button( @click="showModalEstimateEarnings = true").simple.decoration-none.secondary Estimate Earnings as Another Rank
                i.fa-solid.fa-arrow-right.icon-space-before
            p.earning-value USD 26,726
          p.see-more
            button(@click="showModalEarningsSnapshot = true").simple See Breakdown 
              i.fa-solid.fa-arrow-right.icon-space-before


    +modal('showModalEstimateEarnings', 'modal-medium')
      +modalHeader('showModalEstimateEarnings')
        h2.text-header--5 Estimate Earnings as Another Rank
        p
          a(href="#0").color-secondary See Earning Snapshot Disclosure

      .banner.text-white 
        p.text-large You are estimating your earnings as another rank. Click below to see your current estimate.
        p.see-more
          a(href="#0").see-more.decoration-none.text-uppercase See Breakdown 
            i.fa-solid.fa-arrow-right.icon-space-before
      
      .mb-24
        .columns.mb-24 
          .column
            .field
              select
                option(value="") May 2025 
                option(value="") June 2025 
                option(value="") July 2025 
                option(value="") August 2025 
                option(value="") Sept 2025 
          .column
            .field
              select
                option(value="") Currency: USD 
                option(value="") Currency: USD 
                option(value="") Currency: USD 
                option(value="") Currency: USD 
                option(value="") Currency: USD 

        .field
          label Estimate Earnings As:
          select
            option(value="") Platinum 
            option(value="") Crown Diamond 
            option(value="") Royal Crown Diamond
      
      .text-center
        p.earning-value USD 26,726

      .progress-bar-group.mt-48 
        each bundle in bundles
          .progress-bar-single
            .progress-bar-label
              p= bundle.label
              p.bar-value= bundle.amount
            .progress-bar.progress-bar-secondary
              .progress-bar-fill(style=`width: ${bundle.width}`)

    +modal('showModalEarningsSnapshot', 'modal-medium')
      +modalHeader('showModalEarningsSnapshot')
        h2.text-header--5 Estimate Earnings as Another Rank
        p
          a(href="#0").color-secondary See Earning Snapshot Disclosure
      .modal-content
        .text-center.mb-24
          h2.text-header--5 Earning Snapshot

        .columns.mb-32 
          .column
            .field
              select.style-light
                option(value="") May 2025 
                option(value="") June 2025 
                option(value="") July 2025 
                option(value="") August 2025 
                option(value="") Sept 2025 
          .column
            .field
              select.style-light
                option(value="") Currency: USD 
                option(value="") Currency: USD 
                option(value="") Currency: USD 
                option(value="") Currency: USD 
                option(value="") Currency: USD

        .text-center
          h3.text-header--5.subheader Earnings Snapshot
          p.earning-value USD 26,726 

          h2.text-header--3.mt-32 Earned Rank: Platinum
        
        .progress-bar-group.mt-48 
          each bundle in bundles
            .progress-bar-single
              .progress-bar-label
                p= bundle.label
                p.bar-value= bundle.amount
              .progress-bar
                .progress-bar-fill(style=`width: ${bundle.width}`)